@import 'styles/variables/_base-values';

.settings-subscriptions {
  strong {
    margin-right: $base-spacer * 2;
  }

  form {
    margin-bottom: $base-spacer * 2;
  }

  .settings-subscriptions__group {
    padding-bottom: $base-spacer * 4;
  }
}
