.app {
  text-align: center;
  display: flex;
}

.app-sidebar {
  border-right: solid 1px #000;
}

.app-content {
  flex-grow: 1;
}

.app-sidebar,
.app-content {
  padding: 20px;
}

.app-intro {
  font-size: large;
}
