@import 'styles/mixins/_accent-colour';

.app {
  display: flex;

  .app-sidebar {
    border-right: solid 2px #000;
  }

  .app-content {
    flex-grow: 1;
    overflow-y: scroll;
  }

  .app-sidebar,
  .app-content {
    padding: 20px;
  }

  .app-intro {
    font-size: large;
  }
}

@include accent-colour('.app-sidebar', border-color);
@include accent-colour('a:visited', color);
