@import 'styles/variables/_base-values';

.app {
  background-color: white;
  display: flex;
  height: 100%;
}

.app-sidebar {
  font-family: $base-heading-font;
  font-weight: 700;

  a {
    white-space: nowrap;
  }
}

.app-content {
  flex-grow: 1;
  overflow-y: scroll;
}

.app-sidebar,
.app-content {
  padding: $base-spacer;
}
