body {
  font-family: $base-text-font;
  color: $base-text-color;
  font-size: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $base-heading-font;
}

h1 {
  font-size: 1.8rem;
}

h2 {
  font-size: 1.3rem;
}

a {
  color: $base-text-color;
  text-decoration: none;
  position: relative;
  transition: color $base-animation-duration ease-in-out;

  &::after {
    transition: background-color $base-animation-duration ease-in-out, width $base-animation-duration cubic-bezier(0.28, 0.93, 0.47, 1.61);
    content: '';
    height: 0;
    width: 80%;
    position: absolute;
    bottom: -1px;
    left: 0;
    border-bottom: 1px dotted $base-text-color;
  }

  &:hover {
    color: $base-color;

    &::after {
      border-color: $base-color;
      width: 60%;
    }
  }
}

p {
  line-height: $base-line-height;
  margin: 0 auto;
}

code {
  white-space: normal;
}

button {
  cursor: pointer;
}
