@include accent-colour('a:hover', color);
@include accent-colour('a:hover::after', border-color);

body {
  font-family: $base-text-font;
  color: $base-text-color;
  font-size: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $base-heading-font;
}

h1 {
  font-size: 1.8rem;
  margin-top: 0;
  line-height: 1;
}

h2 {
  font-size: 1.3rem;
}

h3 {
  font-size: 1.1rem;
}

h4, h5, h6 {
  font-size: 1rem;
}

a {
  color: $base-text-color;
  text-decoration: none;
  position: relative;
  transition: color $base-animation-duration ease-in-out;

  &::after {
    content: '';
    height: 0;
    width: 80%;
    position: absolute;
    bottom: -1px;
    left: 0;
    border-bottom: 1px dotted $base-text-color;
    transition:
      background-color $base-animation-duration ease-in-out,
      width $base-animation-duration cubic-bezier(0.28, 0.93, 0.47, 1.61);
  }

  &:hover::after {
    width: 60%;
  }
}

p {
  line-height: $base-line-height;
  margin: 0 auto;
}

code {
  white-space: normal;
}
