@import 'styles/mixins/_accent-colour';
@import 'styles/variables/_base-values';
@include accent-colour('.sidebar-list a:hover', color);

.sidebar-list {
  margin-right: $base-spacer * 2;

  li {
    white-space: nowrap;

    &:first-child {
      margin-bottom: $base-spacer * 2;
    }
  }

  .icon {
    display: inline-block;
  }

  .home-link,
  .settings-link,
  .check-button,
  .reload-button {
    margin-bottom: $base-spacer;
    margin-right: $base-spacer;
    display: inline-block;

    &::after {
      display: none;
    }
  }

  .navigation-link {
    margin-right: $base-spacer;
  }
}
