@import 'styles/mixins/_accent-colour';
@import 'styles/variables/_base-values';
@include accent-colour('.icon:hover path', fill);

.icon {
  fill: darken(white, 25%);

  path {
    transition: fill $base-animation-duration ease-in-out;
  }
}

.icon--small {
  width: 16px;
  height: 16px;
}

.icon-link {
  width: 14px;
  height: 14px;
}
