@import 'styles/variables/_breakpoints';
@import 'styles/variables/_base-values';
@import 'styles/variables/_colours';

.subscription-preview {
  margin-bottom: $base-spacer * 2;

  .check-button {
    margin-left: $base-spacer * 2;
  }

  .list {
    display: flex;
    flex-wrap: wrap;
  }

  .list-item {
    width: 100%;
    margin-bottom: $base-spacer * 4;

    @media #{map-get($breakpoints, small-up)} {
      width: 50%;
      padding-right: $base-spacer * 4;

      &:nth-last-child(-n+2) {
        margin-bottom: 0;
      }
    }

    @media #{map-get($breakpoints, medium-up)} {
      width: 33.3%;

      &:nth-last-child(-n+3) {
        margin-bottom: 0;
      }
    }

    @media #{map-get($breakpoints, large-up)} {
      width: 25%;

      &:nth-last-child(-n+4) {
        margin-bottom: 0;
      }
    }

    &.list-item--marked-read {
      color: map-get($colours, grey);

      a {
        color: map-get($colours, grey);
      }

      a:after {
        border-color: map-get($colours, grey);
      }
    }

    &.list-item--hide-images {
      img {
        display: none;
      }
    }

    .list-item__title {
      line-height: 1.6;
      font-size: 1.2em;
      display: block;
      font-weight: 700;
      margin: 0.5rem auto;

      &:hover ~ p ~ .external-link {
        opacity: 1;
      }
    }

    .list-item__description {
      margin: 0.5rem auto;
    }

    .list-item__link {
      &::after {
        display: none;
      }
    }

    .list-item__date {
      font-size: 80%;
      display: inline-block;
    }

    .icon {
      margin-right: 0.5rem;
    }
  }
}
