$colours: (
  pink: #F06292,
  pink-dark: #AD1457,
  purple: #9575CD,
  blue: #66B9E0,
  blue-grey: #37474F,
  indigo: #3F51B5,
  indigo-dark: #283593,
  indigo-light: #5C6BC0,
  green: #81C784,
  yellow: #FFB300,
  orange: #EC774A,
  red: #C70039,
  black: #424242,
  light-grey: darken(white, 15%),
  grey: darken(white, 25%),
  white: #FFFFFF
);

$base-color: map-get($colours, black);
$base-text-color: $base-color;
$base-background-color: map-get($colours, white);
